@tailwind base;
@tailwind components;
@tailwind utilities;

.hire-me {
  background-color: rgba(128, 128, 128, 0.323);
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(195, 127, 254);
}

.portimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portcontain {
  display: flex;
  flex-direction: column;
}

.portpic {
  width: 500px;
  margin-bottom: 15px;
}

.portlinks {
  text-decoration: none;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  background-color: rgb(230, 230, 244);
  border-radius: 10px;
  color: rgb(199, 148, 244);
}
