@tailwind base;
@tailwind components;
@tailwind utilities;

.hire-me {
  background-color: rgba(128, 128, 128, 0.323);
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(195, 127, 254);
}

/* .port-main-div {
  background-color: slateblue;
} */

.portimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portcontain {
  display: flex;
  flex-direction: column;
  background-color: rgba(107, 135, 135, 0.512);
  margin: 10px;
  padding: 10px;
}

.portpic {
  width: 500px;
  /* padding-left: 50px; */
  margin-bottom: 15px;
}

.link-contain {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  font-size: 12px;
  background: linear-gradient(to right, #ba45be75, #bbbbbb);
}

.abt-port {
  width: 500px;
  padding-inline: 60px;
  text-align: center;
  line-height: 1.6;
}

.portlinks {
  text-decoration: none;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  background-color: rgb(230, 230, 244);
  border-radius: 10px;
  color: rgb(199, 148, 244);
}
